#webcam, #result {
    /* float: left;
    margin-right: 1rem; */
}

table {
    width: 500px;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 4px;
}

th:first-child {
    width: 10%;
}

th:last-child {
    width: 20%;
}

td:first-child, td:last-child {
    text-align: right;
}